:root{
    --primary-color: #012426;
    --secondary-color1: #2C4246;
    --secondary-color2: #05BCCA;
    --background-color: #1A1A1A;
    --element-colorOrange: #C46A2B;
    --txt-color: #D9D9D9;
}
/* form section */
.section_main{
    padding-block: 140px;
    background-image: url(../images/Rectangle\ 7.png);
    background-position: center;
}
.contact_section{
    display: flex;
    column-gap: 40px;
    margin: auto;
    padding: 32px;
    background-color: #2C4246CC;
    border-radius: 10px;
    border: 1px solid var(--secondary-color2);
    width: min(100%, 1038px);
}
.contact_section_left{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
}
.form_top_section{
    display: flex;
    column-gap: 60px;
}
h2{
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}
.form{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    width: 100%;
}
.name_input,
.email_input{
    width: 190px;
    height: 40px;
    padding: 12px 8px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.message_textarea{
    width: 440px;
    height: 96px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.name_input::placeholder,
.email_input::placeholder,
.message_textarea::placeholder{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #FFFFFFC2;
}
.send_button{
    width: 440px;
    height: 56px;
    border-radius: 10px;
    background-color: var(--element-colorOrange);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    padding-block: 16px;
    border: none;
    cursor: pointer;
}
/* map section */
.map_section{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
}
.contact_buttons_ul{
    display: flex;
    column-gap: 72px;
}
.contact_buttons{
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    background-color: var(--txt-color);
    cursor: pointer;
}
.icons{
    padding: 12px;
    font-size: 24px;
    color: #FFFFFF;
}

.map{
    width: 494px;
    height: 264px;
    border-radius: 10px;
}