:root{
    --primary-color: #012426;
    --secondary-color1: #2C4246;
    --secondary-color2: #05BCCA;
    --background-color: #1A1A1A;
    --element-colorOrange: #C46A2B;
    --txt-color: #D9D9D9;
}
.container{
    width: min(100%, 1440px);
    margin: auto;
}
/* header */
header{
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color2)
}
.header_nav_ul{
    display: flex;
    gap: 72px;
}
.nav_a{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #A1C3C9;
}
.nav_a:hover{
    color: var(--element-colorOrange);
}
.header_icons_ul{
    display: flex;
    gap: 32px;
}
.header_icons{
    font-size: 12px;
    padding: 14px;
    border-radius: 8px;
    border: 2px solid var(--secondary-color2);
    color: var(--secondary-color2);
}
.header_icons_mid{
    font-size: 12px;
    padding: 14px;
    border-radius: 8px;
    color: var(--secondary-color1);
    background-color: var(--secondary-color2);
}
.header_icons:hover{
    background-color: var(--secondary-color2);
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}
/* footer */
footer{
    display: flex;
    padding-block: 64px;
    column-gap: 157px;
    background-color: var(--secondary-color1);
    justify-content: center;
}
.footer_sec_left,
.footer_sec_mid,
.footer_sec_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
}
h4{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #DEE2EB;
}
.footer_ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
}
.footer_soc_ul{
    display: flex;
    column-gap: 16px;
}
.footer_li{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--txt-color);
}
.footer_li:hover{
    color: var(--element-colorOrange);
}
.contact_txt{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--txt-color);
}
.contact_txt:hover{
    color: var(--element-colorOrange);
}
.fa-brands{
    font-size: 24px;
    color: var(--txt-color);
}
.fa-brands:hover{
    color: var(--element-colorOrange);
}